#basic{
  margin-left: 500px;
  margin-top: 50px;
  padding: 20px;
  border: 1px solid #87c84a;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  margin-bottom: 300px;
  .register{
    font-weight: bold;
    color: #87c84a;
  }
}

.btn{
  background: #87c84a;
  margin-left: -70px;
}
