.header {
  font-family: "Quicksand", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: rgb(0 0 0 / 24%) 0px 2px 4px !important;
  background-color: #fff;
  z-index: 100000;
  .header_container {
    display: flex;
    justify-content: center;
    align-items: center;
    .ant-input-search-button {
      background-color: #87c84a;
      &:hover {
        background: #b5e389 !important;
      }
    }
    .skip-account {
      text-decoration: none;
    }
    .account_option {
      position: absolute;
      background: rgb(255, 255, 255);
      box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 25.5px 4.5px;
      padding: 20px;
      left: 78%;
      opacity: 0;
      transition: all 0.2s;
      li {
        list-style: none;
        padding-bottom: 10px;
        a {
          text-decoration: none;
          color: black;
          transition: all 0.3s;
          &:hover {
            color: #87c84a;
          }
        }
      }
    }
    .account_option.visible {
      opacity: 1;
    }
    .account:hover,
    .cart:hover {
      color: #87c84a;
    }
    .cart{
      color: black;
    }
    .cart-count {
      position: absolute;
      right: 320px;
      color: red;
      font-weight: bold;
      font-size: 15px;
    }
    // .header_container {
    //   display: flex;
    //   background-color: #006600;
    //   justify-content: space-evenly;
    //   align-items: center;
    //   font-size: 22px;
    //   color: white;

    //   img{
    //     border-radius: 50%;
    //     margin: 10px 0;
    //   }

    //   .ant-input-search-button {
    //     background-color: #87c84a;
    //     &:hover {
    //       background: #fcbc34 !important;
    //     }
    //   }
    //   .skip-account {
    //     text-decoration: none;
    //   }
    //   .account_option {
    //     position: absolute;
    //     background: rgb(255, 255, 255);
    //     box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 25.5px 4.5px;
    //     padding: 20px;
    //     left: 78%;
    //     opacity: 0;
    //     transition: all 0.2s;
    //     li {
    //       list-style: none;
    //       padding-bottom: 10px;
    //       a {
    //         text-decoration: none;
    //         color: black;
    //         transition: all 0.3s;
    //         &:hover {
    //           color: #fcbc34;
    //         }
    //       }
    //     }
    //   }
    //   .account_option.visible {
    //     opacity: 1;
    //   }
    //   .account:hover,
    //   .cart:hover {
    //     color: #fcbc34;
    //   }
  }
}

