#register {
  height: 630px;
  border-radius: 10px;
  border: 1px solid #87c84a;
  margin-left: 500px;
  margin-top: 20px;
  margin-bottom: 10px !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  .email {
    margin-top: 30px;
  }
  .submit {
    background: #87c84a;
    margin-left: 25%;
  }
}
